/* Resizing affordances */
.outline-resizer { 
  cursor: col-resize; 
}

.outline-resizer:hover {
  background-color: rgba(229, 231, 235, 0.8);
}

.outline-resizer:active {
  background-color: rgba(156, 163, 175, 0.8);
}

.noselect { 
  user-select: none; 
}