@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  @apply text-gray-900 bg-gray-100;
}

html {
  scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
